.header .container, .footer .container, .social-list, .modal-form-agriment-label, .doing-list, .examples-filter, .examples-list {
  display: flex;
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v19-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v19-latin_cyrillic-regular.woff") format("woff"), url("../fonts/raleway-v19-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway-v19-latin_cyrillic-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v19-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v19-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  color: #757575;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #212121;
}

p {
  margin: 0;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
}

.container {
  min-width: 320px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 15px;
  /* 3 */
  padding-right: 15px;
  /* 3 */
  outline: 1px solid olive;
}

@media screen and (max-width: 480px) {
  .container {
    min-width: 320px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header .container {
  align-items: center;
}

.footer .container {
  align-items: baseline;
}

.section {
  padding: 94px 0;
}

.hero.section {
  padding: 118px 0;
}

@media screen and (min-width: 1200px) {
  .hero.section {
    padding: 200px 0;
  }
}

.doing.section {
  padding-top: 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
}

.logo-header {
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .logo-header {
    padding: 25px 0;
    margin-right: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

.logo-first-word {
  color: #2196f3;
}

.logo-footer {
  color: #ffffff;
  margin-bottom: 20px;
  display: inline-block;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.address-link {
  font-weight: 500;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover, .address-link:focus {
  color: #2196f3;
}

.address-link-icon {
  margin-right: 10px;
}

.address-link-icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .header .address-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .address-list {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .address-item:not(:last-child) {
    margin-right: 50px;
  }
  .address-list {
    display: flex;
  }
  .address-link {
    padding: 32px 0;
    justify-content: center;
  }
}

.modal-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus {
  background-color: #188ce8;
}

.social-list-item {
  width: 44px;
  height: 44px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-list-icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.modal-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-form-input,
.modal-form-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding: 12px 12px 12px 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input {
  height: 40px;
}

.modal-form-input:focus,
.modal-form-textarea:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.modal-form-input:focus + .modal-form-icon {
  fill: #2196f3;
}

.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal-form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 50%;
  left: 12px;
  transform: translateY(50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
}

.modal-form-textarea::placeholder {
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-agriment-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
}

.modal-form-agriment {
  margin-right: 4px;
}

.modal-form-agriment-link {
  color: #2196f3;
}

.modal-form-agriment-label {
  margin-right: 4px;
  line-height: 1.71;
  align-items: center;
}

.modal-form-agriment-label::before {
  content: "";
  cursor: pointer;
  margin-right: 10px;
  width: 16px;
  height: 15px;
  background-image: url(../images/icons/checked.svg);
  background-repeat: no-repeat;
  background-size: 11px 8px;
  background-position: center;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-agriment-input:focus + .modal-form-agriment-label::before {
  border-color: #2196f3;
}

.modal-form-agriment-input:checked + .modal-form-agriment-label::before {
  background-color: #2196f3;
  border-color: #2196f3;
}

.modal-button-form {
  min-width: 200px;
  align-self: center;
}

.header {
  border-bottom: 1px solid #ececec;
}

.navigation-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-navigation {
    display: flex;
  }
  .header-address,
  .navigation-list {
    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }
  .navigation-list-link {
    position: relative;
    color: #212121;
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-list-link:hover, .navigation-list-link:focus {
    color: #2196f3;
  }
  .navigation-list-link-active {
    color: #2196f3;
  }
  .navigation-list-link-active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    height: 4px;
    background-color: #2196f3;
    width: 100%;
    border-radius: 2px;
    transform: translateY(1px);
  }
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/mobile/hero-background-image-mobile.jpg");
  background-color: #2f303a;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  min-height: 400px;
  margin: 0 auto;
}

.hero-title {
  color: inherit;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/tablet/hero-background-image-tablet.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/desktop/hero-background-image-desktop.jpg");
    max-width: 1600px;
    min-height: 600px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/mobile/hero-background-image-mobile@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/tablet/hero-background-image-tablet@2x.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/desktop/hero-background-image-desktop@2x.jpg");
  }
}

.features-list {
  display: block;
}

.features-list-title {
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  font-size: inherit;
  margin-bottom: 10px;
}

.features-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.features-list-icon .icon {
  width: 70px;
  height: 70px;
}

.features-list-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .features-list-item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .features-list-item {
    width: calc((100% - (30px * (2))) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list-item {
    width: calc((100% - (30px * (4))) / 4);
  }
}

/* == What we do styles == */
@media screen and (max-width: 1199px) {
  .doing {
    display: none;
  }
}

.doing-list-item {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.doing-list-item:not(:last-child) {
  margin-right: 30px;
}

.doing-list-text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  min-height: 70px;
  width: 100%;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  font-size: 16px;
  margin: -15px;
}

.team-list-title {
  font-size: inherit;
  font-weight: 500;
  line-height: 1.187;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  margin: 15px;
}

.team-list-text {
  margin-bottom: 16px;
}

.team-list-text-container {
  text-align: center;
  padding: 30px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
  .team-list-item {
    width: calc((100% - (30px * (2))) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    width: calc((100% - (30px * (4))) / 4);
  }
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.partners-list-item {
  width: 100%;
  height: 90px;
  margin: 15px;
}

.partners-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: #afb1b8 solid 1px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-list-link:hover, .partners-list-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.partners-list-icon {
  fill: currentColor;
}

@media screen and (min-width: 480px) {
  .partners-list-item {
    width: calc((100% - (30px * (2))) / 2);
  }
}

@media screen and (min-width: 768px) {
  .partners-list-item {
    width: calc((100% - (30px * (3))) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .partners-list-item {
    width: calc((100% - (30px * (6))) / 6);
  }
}

.footer {
  color: #ffffff;
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-address {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address-link {
  margin-bottom: 10px;
}

.footer-list-item {
  display: flex;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer-list-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:focus, .footer-list-link:hover {
  color: #2196f3;
}

.address-container {
  margin-right: 70px;
}

.dark-theme {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.footer-sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.subscribe-conteinet {
  margin-left: auto;
}

.subscribe-form-label {
  display: flex;
}

.subscribe-form-input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 10px;
  background-color: transparent;
  color: #ffffff;
  padding: 16px 15px;
}

.subscribe-form-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form-button {
  display: flex;
  align-items: center;
}

.subscribe-form-button::after {
  content: "";
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/send.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* == examples section ==*/
.examples-filter {
  margin-bottom: 50px;
  justify-content: center;
}

.examples-filter-item:not(:last-child) {
  margin-right: 8px;
}

.examples-filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 5px 15px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-filter-button:hover, .examples-filter-button:focus, .examples-filter-button.active {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.examples-list-item {
  width: calc((100% - (30px * (4))) / 4);
  outline: 1px solid #eeeeee;
  margin-right: 30px;
  margin-bottom: 30px;
}

.examples-list-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-list-link:hover, .examples-list-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-list-link:hover .exemples-image-overlay,
.examples-list-link:focus .exemples-image-overlay {
  transform: translateY(0);
}

.examples-list-image {
  width: 100%;
}

.examples-list-text-container {
  padding: 20px 24px;
  border-top: none;
}

.examples-list-title {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-list-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.examples-thumb {
  position: relative;
  overflow: hidden;
}

.exemples-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */