.features-list {
  @extend %dis-flex;
}
.features-list-title {
  font-weight: 700;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: inherit;
  margin-bottom: 10px;
}
.features-list-item {
  width: 270px;
  &:not(:last-child) {
    margin-right: $double-gatter-size;
  }
}
.features-list-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}
.features-list-icon .icon {
  width: 70px;
  height: 70px;
}

.features-list-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
