// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  color: $dark-background-text-color;
  background-color: $dark-background-color;
  padding: 60px 0;
}

.footer-address {
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-address-link {
  margin-bottom: 10px;
}
.footer-list-item {
  display: flex;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.footer-list-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color $animation-function-and-duration;
  width: 100%;

  &:focus,
  &:hover {
    color: $active-link-color;
  }
}

.social-list-link.dark-theme {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.footer-sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
.subscribe-conteiner,
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  // width: 100%;
}
.subscribe-form {
  width: 100%;
}

.subscribe-form-label {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}
.subscribe-form-input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: transparent;
  color: #ffffff;
  padding: 16px 15px;

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}
.subscribe-form-button {
  display: flex;
  align-items: center;
  width: 200px;

  &::after {
    content: "";
    // margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url(../images/icons/send.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.address-container,
.social-link-container {
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .subscribe-form-label {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .address-container {
    margin-right: 70px;
    margin-bottom: 0;
  }
  .social-link-container {
    margin: 0;
  }

  .subscribe-conteiner {
    margin-left: auto;
    align-items: flex-start;
  }
  .subscribe-form {
    flex-direction: row;
    align-items: center;
  }
  .subscribe-form-label {
    width: 358px;
    margin-bottom: 0;
    margin-right: 10px;
  }
}
