// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.header {
  border-bottom: 1px solid #ececec;
}
.navigation-list {
  display: none;
}
@media screen and (min-width: $containet-tablet-width) {
  .header-navigation {
    display: flex;
  }
  .header-address,
  .navigation-list {
    display: flex;
    align-items: center;

    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
  }
  .navigation-list-item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  .navigation-list-link {
    position: relative;
    color: $text-color-title;
    padding: 32px 0;
    transition: color $animation-function-and-duration;

    &:hover,
    &:focus {
      color: $active-link-color;
    }
  }
  .navigation-list-link-active {
    color: $active-link-color;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      display: block;
      height: 4px;
      background-color: $active-link-color;
      width: 100%;
      border-radius: 2px;
      transform: translateY(1px);
    }
  }
}
