.logo {
  font-family: "Raleway", sans-serif;
  color: $logo-header-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.logo-first-word {
  color: $logo-first-word-color;
}
.logo-header {
  padding: 25px 0;
  margin-right: 90px;
}
.logo-footer {
  color: $dark-background-text-color;
  margin-bottom: 20px;
  display: inline-block;
}
