.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-label {
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.modal-form-input,
.modal-form-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  padding: 12px 12px 12px 42px;
  transition: border $animation-function-and-duration;
}

.modal-form-input {
  height: 40px;
}
.modal-form-input:focus,
.modal-form-textarea:focus {
  border: 1px solid $active-link-color;
  outline: none;
}
.modal-form-input:focus + .modal-form-icon {
  fill: $active-link-color;
}
.input-wrapper {
  position: relative;
  margin-bottom: 10px;
}
.modal-form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 50%;
  left: 12px;
  transform: translateY(50%);
  transition: fill $animation-function-and-duration;
}
.modal-form-textarea {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;

  &::placeholder {
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}
.modal-agriment-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  align-items: center;
  font-size: 12px;
  @media screen and (max-width: 479px) {
    display: block;
  }
}
.modal-form-agriment {
  margin-right: 4px;
}
.modal-form-agriment-link {
  color: $active-link-color;
  @media screen and (max-width: 479px) {
    margin-left: 26px;
  }
}
.modal-form-agriment-label {
  @extend %dis-flex;
  margin-right: 4px;
  line-height: 1.71;
  align-items: center;
  &::before {
    content: "";
    cursor: pointer;
    margin-right: 10px;
    width: 16px;
    height: 15px;
    background-image: url(../images/icons/checked.svg);
    background-repeat: no-repeat;
    background-size: 11px 8px;
    background-position: center;

    border: 2px solid $text-color-title;
    border-radius: 2px;
    transition: background-color $animation-function-and-duration,
      border-color $animation-function-and-duration;
  }
}
.modal-form-agriment-input:focus + .modal-form-agriment-label::before {
  border-color: $active-link-color;
}
.modal-form-agriment-input:checked + .modal-form-agriment-label::before {
  background-color: $active-link-color;
  border-color: $active-link-color;
}
.modal-button-form {
  min-width: 200px;
  align-self: center;
}
