// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------//

body {
  color: $text-color;
  font-family: "Roboto", sans-serif;
  font-size: $text-font-size;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: none;
  font-style: normal;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: $text-color-title;
}
p {
  margin: 0;
}
