$text-color: #757575;
$text-color-title: #212121;
$text-font-size: 14px;
$logo-first-word-color: #2196f3;
$logo-header-color: #000000;
$active-link-color: #2196f3;
$light-background-color: #f5f4fa;
$dark-background-color: #2f303a;
$dark-background-text-color: #ffffff;
$gatter-size: 15px;
$double-gatter-size: 30px;
$section-padding: 94px;
$button-background-color-active: #188ce8;
$collum-number-desktop: 3;
$collum-number-tablet: 2;
$animation-function-and-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$containet-max-width: 1200px;
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
